<template>
  <v-container id="user-profile" fluid tag="section" class="mt-7 mb-0">
    <!-- <v-row justify="center"> -->
    <base-material-card
      flat
      class="v-card-profile"
      avatar="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
    >
      <v-card-text class="text-center">
        <v-dialog v-model="changeProfileDialog" max-width="500px" class="background-color='white'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn outlined v-bind="attrs" v-on="on" class="my-4">
              <v-icon left>mdi-camera</v-icon>Change Profile
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Change Profile Picture</span>
            </v-card-title>
            <v-card height="20px" flat></v-card>
            <v-container>
              <v-file-input
                shaped
                :rules="profileRules"
                chips
                counter
                show-size
                v-model="profileFile"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Choose your profile picture"
                prepend-icon="mdi-camera"
                label="Profile Picture"
              ></v-file-input>
            </v-container>

            <v-card height="20px" flat></v-card>

            <v-card height="20px" flat>
              <!-- <v-img :src="{profileFile}"></v-img> -->
            </v-card>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="success justify-center">Save</v-btn>
              <v-btn class="error" @click="changeProfileDialog = false">cancel</v-btn>
            </v-card-actions>
            <v-card height="20px" flat></v-card>
          </v-card>
        </v-dialog>

        <h6 class="display-1 mb-1 grey--text">Client</h6>

        <h4 class="display-2 font-weight-light mb-3 black--text">Alec Thompson</h4>

        <p
          class="font-weight-light grey--text"
        >Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...</p>

        <!-- <v-btn color="success" rounded class="mr-0">Follow</v-btn> -->
      </v-card-text>

      <!-- /////////////////////////////////////////// -->
      <v-divider></v-divider>
      <!-- //////////////////////////////////// -->
      <v-card flat class="mt-1">
        <v-tabs
          v-model="tab"
          centered
          background-color="transparent"
          color="black"
          slider-color="green"
          active-class="grey rounded rounded-t-lg"
        >
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            TimeLine
            <!-- <v-icon>mdi-phone</v-icon> -->
          </v-tab>

          <v-tab href="#tab-2">
            About
            <!-- <v-icon>mdi-heart</v-icon> -->
          </v-tab>

          <v-tab href="#tab-3">
            Others
            <!-- <v-icon>mdi-account-box</v-icon> -->
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item :value="'tab-'+1">
            <v-card flat>
              <!-- <v-card-text>{{ text }}</v-card-text> -->
              <!-- <v-card-text>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur deserunt dolorum aut eum atque odit fuga quas voluptate quo perspiciatis nam exercitationem, modi ducimus beatae tempora. Ad rerum pariatur consequuntur.</v-card-text> -->
              <v-timeline>
                <v-timeline-item v-for="n in 3" :key="n" color="red lighten-2" large>
                  <template v-slot:opposite>
                    <span>Tus eu perfecto</span>
                  </template>
                  <v-card class="elevation-2">
                    <v-card-title class="headline">Lorem ipsum</v-card-title>
                    <v-card-text>Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.</v-card-text>
                  </v-card>
                </v-timeline-item>
              </v-timeline>
            </v-card>
          </v-tab-item>
          <v-tab-item :value="'tab-'+2">
            <v-card flat>
              <!-- ////////////////////////////////////////////////////////////////////////////////// -->
              <v-card-title>this is about page</v-card-title>
              <v-tabs vertical active-class="grey rounded rounded-r-lg">
                <v-tab>
                  <v-icon left>mdi-account</v-icon>Personal
                </v-tab>
                <v-tab>
                  <v-icon left>mdi-map-marker</v-icon>Address
                </v-tab>
                <v-tab>
                  <v-icon left>mdi-lock</v-icon>Change Password
                </v-tab>

                <v-tab-item>
                  <v-card flat width="500px" class="mx-auto">
                    <v-form v-model="valid">
                      <v-container>
                        <v-text-field
                          v-model="firstname"
                          :rules="nameRules"
                          label="First Name"
                          required
                        ></v-text-field>
                        <v-text-field
                          v-model="lastname"
                          :rules="nameRules"
                          label="Last Name"
                          required
                        ></v-text-field>

                        <v-text-field
                          v-model="dob"
                          :rules="nameRules"
                          label="Date Of Birth"
                          required
                        ></v-text-field>
                        <v-text-field
                          class="mb-4"
                          v-model="email"
                          :rules="nameRules"
                          label="Email"
                          required
                        ></v-text-field>
                        <v-btn flat outlined @click="SaveAddress">Save</v-btn>
                      </v-container>
                    </v-form>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat width="500px" class="mx-auto">
                    <v-form v-model="valid">
                      <v-container>
                        <v-text-field v-model="region" :rules="nameRules" label="Region" required></v-text-field>
                        <v-text-field v-model="zone" :rules="nameRules" label="Zone" required></v-text-field>

                        <v-text-field v-model="city" :rules="nameRules" label="City" required></v-text-field>
                        <v-text-field
                          class="mb-4"
                          v-model="tabya"
                          :rules="nameRules"
                          label="Tabiya"
                          required
                        ></v-text-field>
                        <v-btn flat outlined @click="SaveAddress">Save</v-btn>
                      </v-container>
                    </v-form>
                  </v-card>
                </v-tab-item>
                <v-tab-item>
                  <v-card flat class="mx-auto" width="600px">
                    <v-card-text>
                      <v-form ref="form" lazy-validation v-model="isPasswordFormValid">
                        <v-container>
                          <v-text-field
                            v-model="oldPassword"
                            type="password"
                            outlined
                            :rules="nameRules"
                            :counter="10"
                            label="Old Password"
                            required
                          ></v-text-field>

                          <v-text-field
                            v-model="newPassword"
                            type="password"
                            outlined
                            :rules="passwordValidate"
                            :counter="6"
                            label="New Password"
                            required
                          ></v-text-field>

                          <v-text-field
                            v-model="confirmNewPassword"
                            type="password"
                            outlined
                            :counter="6"
                            :rules="passwordValidate"
                            label="Confirm New Password"
                            required
                          ></v-text-field>
                          <v-btn
                            :disabled="!ispasswordformvalid"
                            color="success"
                            class="mr-4"
                            @click="validate"
                          >Change</v-btn>
                        </v-container>
                      </v-form>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
              </v-tabs>
            </v-card>
          </v-tab-item>
          <v-tab-item :value="'tab-'+3">
            <v-card flat>
              <v-card-text>{{ text }}</v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </base-material-card>
    <!-- </v-row> -->
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      changeProfileDialog: false,
      profileFile: "",
      profileRules: [
        (value) =>
          !value ||
          value.size < 2000000 ||
          "picture size should be less than 2 MB!",
      ],
      valid: false,
      region: "",
      zone: "",
      city: "",
      tabya: "",
      passwordValidate: [
        (v) => !!v || "password is required",
        (v) =>
          (v && v.length >= 6) || "password must be more than 6 characters",
      ],
      nameRules: [
        (v) => !!v || "Address is required",
        // (v) => v.length <= 10 || "Name must be less than 10 characters",
      ],
      email: "",
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+/.test(v) || "E-mail must be valid",
      ],
      ispasswordformvalid: true,
      confirmNewPassword: "",
      newPassword: "",
      oldPassword: "",
      tab: null,
      abouttab: "tab-Web",
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    };
  },
  methods: {
    SaveAddress() {
      if (this.valid) {
        console.log(this.region);
      }
    },
    validate() {
      this.$refs.form.validate();
    },
  },
};
</script>
