<template>
  <v-container id="user-profile" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="8">
        <base-material-card icon="mdi-account-outline">
          <template v-slot:after-heading>
            <div class="font-weight-light card-title mt-2">
              Edit Profile
              <span class="body-1">— Complete your profile</span>
            </div>
          </template>

          <v-form>
            <v-container class="py-0">
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field label="Company (disabled)" disabled />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field class="purple-input" label="User Name" />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field label="Email Address" class="purple-input" />
                </v-col>

                <v-col cols="12" md="6">
                  <v-text-field label="First Name" class="purple-input" />
                </v-col>

                <v-col cols="12" md="6">
                  <v-text-field label="Last Name" class="purple-input" />
                </v-col>

                <v-col cols="12">
                  <v-text-field label="Adress" class="purple-input" />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field label="City" class="purple-input" />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field label="Country" class="purple-input" />
                </v-col>

                <v-col cols="12" md="4">
                  <v-text-field class="purple-input" label="Postal Code" type="number" />
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    class="purple-input"
                    label="About Me"
                    value="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                  />
                </v-col>

                <v-col cols="12" class="text-right">
                  <v-btn color="success" class="mr-0">Update Profile</v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>

      <v-col cols="12" md="4">
        <base-material-card
          class="v-card-profile"
          avatar="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
        >
          <v-card-text class="text-center">
            <h6 class="display-1 mb-1 grey--text">CEO / CO-FOUNDER</h6>

            <h4 class="display-2 font-weight-light mb-3 black--text">Alec Thompson</h4>

            <p
              class="font-weight-light grey--text"
            >Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...</p>

            <v-btn color="success" rounded class="mr-0">Follow</v-btn>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>

    <base-material-card class="px-5 py-3">
      <template v-slot:heading>
        <v-tabs v-model="tabs" background-color="transparent" slider-color="white">
          <span class="subheading font-weight-light mx-3" style="align-self: center">Tasks:</span>
          <v-tab class="mr-3">
            <v-icon class="mr-2">mdi-bug</v-icon>Bugs
          </v-tab>
          <v-tab class="mr-3">
            <v-icon class="mr-2">mdi-code-tags</v-icon>Website
          </v-tab>
          <v-tab>
            <v-icon class="mr-2">mdi-cloud</v-icon>Server
          </v-tab>
        </v-tabs>
      </template>

      <v-tabs-items v-model="tabs" class="transparent">
        <v-tab-item v-for="n in 3" :key="n">
          <v-card-text>
            <template v-for="(task, i) in tasks[tabs]">
              <v-row :key="i" align="center">
                <v-col cols="1">
                  <v-list-item-action>
                    <v-checkbox v-model="task.value" color="secondary" />
                  </v-list-item-action>
                </v-col>

                <v-col cols="9">
                  <div class="font-weight-light" v-text="task.text" />
                </v-col>

                <v-col cols="2" class="text-right">
                  <v-icon class="mx-1">mdi-pencil</v-icon>
                  <v-icon color="error" class="mx-1">mdi-close</v-icon>
                </v-col>
              </v-row>
            </template>
          </v-card-text>
        </v-tab-item>
      </v-tabs-items>
    </base-material-card>
  </v-container>
</template>

<script>
export default {
  headers: [
    {
      sortable: false,
      text: "ID",
      value: "id"
    },
    {
      sortable: false,
      text: "Name",
      value: "name"
    },
    {
      sortable: false,
      text: "Salary",
      value: "salary",
      align: "right"
    },
    {
      sortable: false,
      text: "Country",
      value: "country",
      align: "right"
    },
    {
      sortable: false,
      text: "City",
      value: "city",
      align: "right"
    }
  ],
  tabs: 0,
  tasks: {
    0: [
      {
        text: 'Sign contract for "What are conference organizers afraid of?"',
        value: true
      },
      {
        text: "Lines From Great Russian Literature? Or E-mails From My Boss?",
        value: false
      },
      {
        text:
          "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
        value: false
      },
      {
        text: "Create 4 Invisible User Experiences you Never Knew About",
        value: true
      }
    ],
    1: [
      {
        text:
          "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
        value: true
      },
      {
        text: 'Sign contract for "What are conference organizers afraid of?"',
        value: false
      }
    ],
    2: [
      {
        text: "Lines From Great Russian Literature? Or E-mails From My Boss?",
        value: false
      },
      {
        text:
          "Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit",
        value: true
      },
      {
        text: 'Sign contract for "What are conference organizers afraid of?"',
        value: true
      }
    ]
  }
};
</script>
