<template>
  <div>
    <v-container fluid tag="section" class="mt-3 mb-5">
      <v-row justify="center" flex class="mb-3 sm-col-12 md-col-6 lg-col-4">
        <v-card shaped max-width="400" class="ml-2" v-for="(item,i) in 6" :key="i">
          <v-img
            class="white--text align-end"
            height="200px"
            src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
          >
            <v-card-title class="white--text align-end">Tip's Title</v-card-title>
          </v-img>

          <v-card-subtitle class="pb-0">Catagory</v-card-subtitle>

          <v-expansion-panels popout insets flat class="mb-3">
            <v-expansion-panel v-for="(item,i) in 1" :key="i" class="px-4 pb-3 mb-1">
              <v-expansion-panel-header>Description</v-expansion-panel-header>
              <v-expansion-panel-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>