<template>
  <v-container>
    <v-card flat>
      <v-card-text style="height: 100px; position: relative">
        <h2 class="grey--text">My Daily Record</h2>

        <v-dialog v-model="addRecordDialog" width="500">
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" absolute dark fab top right color="pink">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>

          <v-card>
            <v-card-title class="headline">Registering Daily Record</v-card-title>

            <v-card-text class>
              <v-container>
                <!-- <v-col>
                  <h3 class="light--text">Record Type</h3>
                </v-col>-->
                <v-overflow-btn
                  outlined
                  @change="RecTypeChange($event)"
                  class="my-2 sm-col-12 md-col-4 lg-col-3"
                  :items="RecordType"
                  label="Select the type of record"
                  target="#dropdown-example"
                ></v-overflow-btn>
                <v-divider class="mb-3"></v-divider>

                <!-- //////////////////////////////////////// -->
                <v-card outlined class="container">
                  <v-form v-model="isValid">
                    <v-text-field
                      type="number"
                      :rules="heightRules"
                      required
                      v-model="height"
                      label="height in meter"
                    ></v-text-field>
                    <!-- //v-show="wshow"// v-show="hshow" -->
                    <v-text-field
                      type="number"
                      :rules="weightRules"
                      required
                      prepend-inner-icon="mdi-weight"
                      v-model="weight"
                      label="weight in kg"
                    ></v-text-field>
                    <v-menu
                      v-model="menu_date"
                      :close-on-content-click="false"
                      full-width
                      max-width="290"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          :value="computedDateFormattedMomentjs"
                          clearable
                          label="Recorded Date"
                          :rules="dateRules"
                          readonly
                          v-on="on"
                          required
                        ></v-text-field>
                      </template>
                      <v-date-picker v-model="date" @change="menu_date = false"></v-date-picker>
                    </v-menu>
                  </v-form>
                </v-card>
              </v-container>
            </v-card-text>
            <v-divider></v-divider>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="SaveRecord">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card-text>
    </v-card>

    <!-- ///////////////////////////////////// @click="sortBy('person')" @click="sortBy('title')" -->
    <v-layout row justify-start class="mb-3 container">
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn small text color="grey" v-bind="attrs" v-on="on">
            <v-icon small left>mdi-folder</v-icon>
            <span class="caption text-lowercase">By RecordType</span>
          </v-btn>
        </template>

        <span>Sort by Record Type</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{on , attrs}">
          <v-btn small text color="grey" v-on="on" v-bind="attrs">
            <v-icon small left>mdi-account</v-icon>
            <span class="caption text-lowercase">By Measurement</span>
          </v-btn>
        </template>

        <span>Sort by Measurement</span>
      </v-tooltip>
    </v-layout>

    <!-- <v-card flat v-for="(item,i) in 5" :key="i" class="container"> -->
    <v-layout class="ma-0 pa-0" v-for="(item,i) in 5" :key="i">
      <v-row class="ma-0 pa-0">
        <v-container>
          <v-card flat class="d-flex col-12 pa-0 ma-0" style="border-left: 4px solid #3cd1c2;">
            <v-col class="col-lg-4 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Record Type</div>
                <div>Height</div>
              </v-card-text>
            </v-col>
            <v-col class="col-lg-4 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Measurement in meters</div>
                <div>1.67M</div>
              </v-card-text>
            </v-col>
            <v-col class="col-lg-4 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Date Measured</div>
                <div>12/12/12</div>
              </v-card-text>
            </v-col>
          </v-card>
        </v-container>
      </v-row>
    </v-layout>

    <!-- :class="`pa-3 project ${project.status}`" -->
    <!-- <v-layout row wrap style="border-left: 4px solid #3cd1c2;"> -->

    <!-- <v-card class="" xs-12 md-6>
          <div class="caption grey--text">Record Type</div>
          <div>Height</div>
        </v-card>
        <v-card xs-6 sm-4 md-2>
          <div class="caption grey--text">Measurement in meters</div>
          <div>1.67M</div>
        </v-card>
        <v-card xs-6 sm-4 md-2>
          <div class="caption grey--text">Date Measured</div>
          <div>12/12/12</div>
    </v-card>-->
    <!-- <v-flex xs2 sm4 md2>
          <div class="right">
            <v-chip small :class="`${project.status} white--text my-2 caption`">{{ project.status }}</v-chip>
          </div>
    </v-flex>-->
    <!-- </v-layout> -->

    <!-- </v-card> -->
  </v-container>
</template>

<script>
import moment from "moment";

export default {
  data() {
    return {
      heightRules: [
        (v) => !!v || "height is required",
        (v) => v <= 2.11 || "Max Height must be less than 2.11 characters",
      ],
      weightRules: [
        (v) => !!v || "Weight is required",
        // (v) => v <= 2.11 || "Max Height must be less than 2.11 characters",
      ],
      heightRules: [
        (v) => !!v || "Date is required",
        // (v) => v <= 2.11 || "Max Height must be less than 2.11 characters",
      ],
      isValid: null,
      height: null,
      weight: null,
      wshow: false,
      hshow: false,
      date: new Date().toISOString().substr(0, 10),
      time: "",
      menu_date: false,
      addRecordDialog: false,
      RecordType: [{ text: "Height" }, { text: "Weight" }],
    };
  },
  methods: {
    RecTypeChange(e) {
      if (e === "Height") {
        this.wshow = false;
        this.hshow = true;
        // this.doctors.push(doctor);
      } else if (e === "Weight") {
        this.wshow = true;
        this.hshow = false;
        // this.doctors = this.doctorss;
      }
    },
    SaveRecord() {
      if (this.isValid) {
        console.log(" everything good");
      } else if (!this.isValid && !this.wshow && this.hshow) {
        console.log("only hshow");
      } else if (!this.isValid && this.wshow && !this.hshow) {
        if (this.weight) console.log("only wshow");
      } else {
        console.log("not Valid");
      }
    },
  },
  computed: {
    computedDateFormattedMomentjs() {
      return this.date ? moment(this.date).format("dddd, MMMM Do YYYY") : "";
    },
    timeSet() {
      return this.time;
    },
  },
};
</script>