<template>
  <v-container id="list-doctors" fluid tag="section" class="mt-3 mb-5">
    <v-layout width="600px" class="mb-4 mx-auto container">
      <v-row class="mb-4">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search Doctors"
          single-line
          hide-details
        ></v-text-field>
      </v-row>
    </v-layout>

    <v-row>
      <v-col>
        <h2>Departements</h2>
      </v-col>
      <v-overflow-btn
        flat
        @change="filterDept($event)"
        class="my-2 sm-col-12 md-col-4 lg-col-3"
        :items="deptCategory"
        label="Departement"
        target="#dropdown-example"
      ></v-overflow-btn>
    </v-row>
    <v-spacer></v-spacer>

    <!-- <v-row>
      <v-chip
        v-for="(dep, i) in deptCategory"
        :key="i"
        class="mr-2"
        @click="DeptCategory(dep.departement)"
      >
        <v-icon left>mdi-brightness-5</v-icon>
        {{dep.departement}}
      </v-chip>
    </v-row>-->

    <v-divider class="mb-5"></v-divider>
    <v-row justify="center" flex class="mb-3">
      <v-col sm="12" md="6" lg="4" v-for="(doctor, i) in doctors" :key="i">
        <base-material-card
          flat
          class="v-card-profile"
          avatar="https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg"
        >
          <v-card-text class="text-center">
            <h6 class="display-1 mb-2 grey--text">{{doctor.speciality}}</h6>

            <h4 class="display-1 font-weight-light mb-3 black--text">{{doctor.name}}</h4>

            <v-expansion-panels flat class="mb-2">
              <v-expansion-panel>
                <v-expansion-panel-header>Detail Description</v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-list>
                    <v-list-item>
                      <v-list-item-title>
                        <v-list-item-title>
                          <p class="float-left">Work Place</p>
                          <p class="float-right">Adwa</p>
                        </v-list-item-title>
                        <v-list-item-title>
                          <p class="float-left">Hospital</p>
                          <p class="float-right">Adwa General hospital</p>
                        </v-list-item-title>
                        <v-list-item-title>
                          <p class="float-left">Clinic</p>
                          <p class="float-right">G-hive Clinic</p>
                        </v-list-item-title>
                      </v-list-item-title>

                      <!-- <v-list-item-content>
                        <v-list-item-title v-text="item.title">Adwa</v-list-item-title>
                      </v-list-item-content>-->
                    </v-list-item>
                  </v-list>
                  <v-divider></v-divider>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>

            <!-- <p class="font-weight-light grey--text">{{doctor.bio}}</p> -->

            <v-btn color="success" rounded class="mr-0">Connect</v-btn>
          </v-card-text>
        </base-material-card>
      </v-col>
    </v-row>

    <div class="mb-3"></div>
    <div class="text-center mb-7">
      <v-pagination v-model="page" :length="6"></v-pagination>
    </div>
  </v-container>
</template>


<script>
export default {
  data() {
    return {
      page: 1,
      doctorsCategory: [
        { text: "sergeon", callback: () => console.log("list") },
        { text: "oncologist", callback: () => console.log("favorite") },
        { text: "delete", callback: () => console.log("delete") },
      ],
      deptCategory: [
        { text: "All" },
        { text: "sergeon" },
        { text: "oncologist" },
        { text: "therapist" },
        { text: "Health Officer" },
      ],
      doctorss: [
        {
          name: "Cash Blake",
          speciality: "sergeon",
          bio:
            "Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...",
        },
        {
          name: "Kanye West",
          speciality: "therapist",
          bio:
            "Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...",
        },
        {
          name: "Kim Kardashyan",
          speciality: "sergeon",
          bio:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam consequuntur minus asperiores, modi voluptatem illum provident repellendus sunt ipsa ullam maxime quod itaque culpa corporis hic ab labor.",
        },
        {
          name: "Rita Ora",
          speciality: "oncologist",
          bio:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam consequuntur minus asperiores, modi voluptatem illum provident repellendus sunt ipsa ullam maxime quod itaque culpa corporis hic ab labor.",
        },
        {
          name: "Sofia Reyes",
          speciality: "Health Officer",
          bio:
            "Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...",
        },
        {
          name: "Ariana Grande",
          speciality: "Health Officer",
          bio:
            "Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...",
        },
      ],
      doctors: [],
    };
  },
  created() {
    this.doctors = this.doctorss;
  },
  methods: {
    filterDept(e) {
      this.doctors = [];
      // console.log("header");
      // this.doctors.length = 0;
      // console.log(e === this.doctorss[0].speciality);

      // console.log("header");
      // console.log(this.doctorss[0].speciality === e);
      // console.log(this.doctorss[0].name + "null");
      this.doctorss.forEach((doctor) => {
        // console.log("header2");
        // console.log(doctor.speciality + "dd");
        if (doctor.speciality === e) {
          this.doctors.push(doctor);
        } else if (e === "All") {
          this.doctors = this.doctorss;
        }
      });
      // console.log(this.doctorss[0].name + "nu");
      // this.doctorss.map((doc) => {
      //   if (doc.speciality == e) {
      //     this.doctors.push(doctor);
      //   } else {
      //     this.doctors.pop(doctor);
      //   }
      // });
    },
    // DeptCategory(dept) {
    //   this.deptCategory.map((dept) => {
    //     doctorss.forEach((doctor) => {
    //       // if (doctor.speciality == dept) {
    //       //   this.doctors.push(doctor);
    //       // }
    //     });
    //   });
    // },
  },
};
</script>