<template>
  <v-container id="validation-forms" fluid tag="section">
    <div class="text-right py-6">
      <v-dialog v-model="dialog" max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" dark v-bind="attrs" v-on="on">Request Appointment</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Request Appointment to Doctors</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field label="Doctors Name*" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field label="reason" hint="reason for requesting appointent"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-menu
                    v-model="menu_date"
                    :close-on-content-click="false"
                    full-width
                    max-width="290"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        :value="computedDateFormattedMomentjs"
                        clearable
                        label="Date for Appointment"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" @change="menu_date = false"></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="6">
                  <v-menu
                    ref="menu"
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    :return-value.sync="time"
                    transition="scale-transition"
                    max-width="400px"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="time"
                        value="timeSet"
                        label="Picker in menu"
                        prepend-icon="mdi-clock"
                        v-bind="attrs"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-time-picker
                      v-if="menu2"
                      v-model="time"
                      full-width
                      @click:minute="$refs.menu.save(time)"
                    ></v-time-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </v-container>
            <small>*indicates required field</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click="dialog = false">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <!-- my tables -->
    <!-- /////////////////////////////////////////////////////////// -->
    <div class="py-3" />
    <base-material-card
      color="success"
      icon="mdi-clipboard-text"
      inline
      title="My Appointment"
      class="px-5 py-3 mb-5"
    >
      <v-simple-table>
        <thead>
          <tr>
            <th>Id</th>
            <th class="text-center">Doctor Name</th>
            <th class="text-center">Place</th>
            <th class="text-center">Description</th>
            <th class="text-center">Date</th>
            <th class="text-center">Time</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(appointment,i) in apointments" :key="i">
            <td>{{appointment.id}}</td>
            <td class="text-center">{{appointment.doctor_name}}</td>
            <td class="text-center">{{appointment.place}}</td>
            <td class="text-center">{{appointment.description}}</td>
            <td class="text-center">{{appointment.date}}</td>
            <td class="text-center">{{appointment.time}}</td>
            <td class="text-center">
              <v-btn
                v-for="(action, i) in actions"
                :key="i"
                :color="action.color"
                class="ml-1"
                fab
                icon
                x-small
              >
                <v-icon small v-text="action.icon" />
              </v-btn>
            </td>
          </tr>
        </tbody>
      </v-simple-table>
    </base-material-card>
    <div class="py-3" />
    <!-- /////////////////////////////////////////////////////////// -->

    <!-- <base-v-component heading="Forms" link="components/forms" /> -->
  </v-container>
</template>

<script>
import moment from "moment";
export default {
  name: "DashboardFormsValidationForms",

  $_veeValidate: {
    validator: "new",
  },

  data: () => ({
    email: "",
    max: "",
    min: "",
    number: null,
    url: "",
    required: "",
    apointments: [
      {
        id: 1,
        doctor_name: "Belayneh Gzaw",
        place: "mekelle",
        description: "diagnosis",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
      {
        id: 2,
        doctor_name: "Alex Mike",
        place: "Axum",
        description: "sergery",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
      {
        id: 3,
        doctor_name: "Gebremeskel Haile",
        place: "Adigrat",
        description: "follow up",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
      {
        id: 4,
        doctor_name: "Tolosa Gebisa",
        place: "Adwa",
        description: "diagnosis",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
    ],
    actions: [
      {
        color: "info",
        icon: "mdi-account",
      },
      {
        color: "success",
        icon: "mdi-pencil",
      },
      {
        color: "error",
        icon: "mdi-close",
      },
    ],
    date: new Date().toISOString().substr(0, 10),
    time: "",
    menu2: false,
    menu_date: false,
    menu_time: false,
  }),

  computed: {
    computedDateFormattedMomentjs() {
      return this.date ? moment(this.date).format("dddd, MMMM Do YYYY") : "";
    },
    timeSet() {
      return this.time;
    },
  },
  methods: {},
};
</script>
