<template>
  <v-container tag="section">
    <!-- my tables -->
    <!-- /////////////////////////////////////////////////////////// -->
    <v-layout row justify-start class="mb-3 container">
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn small text color="grey" v-bind="attrs" v-on="on">
            <v-icon small left>mdi-folder</v-icon>
            <span class="caption text-lowercase">By Prescription Name</span>
          </v-btn>
        </template>

        <span>Sort by Prescription Name</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{on , attrs}">
          <v-btn small text color="grey" v-on="on" v-bind="attrs">
            <v-icon small left>mdi-camera</v-icon>
            <span class="caption text-lowercase">By Date Priscribed</span>
          </v-btn>
        </template>

        <span>Sort by Date Priscribed</span>
      </v-tooltip>
    </v-layout>

    <!-- <v-card flat v-for="(item,i) in 5" :key="i" class="container"> -->
    <v-layout class="ma-0 pa-0" v-for="(item,i) in 5" :key="i">
      <v-row class="ma-0 pa-0">
        <v-container>
          <v-card flat class="d-flex pa-0 ma-0" style="border-left: 4px solid #3cd1c2;">
            <v-col class="col-lg-3 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Prescription Name</div>
                <div>Height</div>
              </v-card-text>
            </v-col>
            <v-col class="col-lg-2 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Amount</div>
                <div>1.67M</div>
              </v-card-text>
            </v-col>
            <v-col class="col-lg-4 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Doctor Prescribed</div>
                <div>12/12/12</div>
              </v-card-text>
            </v-col>
            <v-col class="col-lg-3 ma-0">
              <v-card-text class="pa-0 ma-0">
                <div class="caption grey--text">Date Prescribed</div>
                <div>12/12/12</div>
              </v-card-text>
            </v-col>
          </v-card>
          <v-card class="ma-0 pa-0" flat style="border-left: 4px solid #3cd1c2;">
            <v-container>
              <v-expansion-panels flat class="mt-0">
                <v-expansion-panel>
                  <v-expansion-panel-header class="mb-3">General Instruction</v-expansion-panel-header>

                  <v-expansion-panel-content>
                    <v-divider></v-divider>
                    <v-card outlined>
                      <v-list>
                        <v-list-item>
                          <v-list-item-title>
                            <v-list-item-title>
                              <p class="float-left">Work Place</p>
                              <p class="float-right">Adwa</p>
                            </v-list-item-title>
                            <v-list-item-title>
                              <p class="float-left">Hospital</p>
                              <p class="float-right">Adwa General hospital</p>
                            </v-list-item-title>
                            <v-list-item-title>
                              <p class="float-left">Clinic</p>
                              <p class="float-right">G-hive Clinic</p>
                            </v-list-item-title>
                          </v-list-item-title>

                          <!-- <v-list-item-content>
                        <v-list-item-title v-text="item.title">Adwa</v-list-item-title>
                          </v-list-item-content>-->
                        </v-list-item>
                      </v-list>
                    </v-card>

                    <v-divider></v-divider>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-container>
          </v-card>
        </v-container>
      </v-row>
    </v-layout>
    <!-- /////////////////////////////////////////////////////////// -->
  </v-container>
</template>

<script>
export default {
  name: "DashboardFormsValidationForms",

  $_veeValidate: {
    validator: "new",
  },

  data: () => ({
    email: "",
    max: "",
    min: "",
    number: null,
    url: "",
    required: "",
    show: false,
    show2: false,
    show3: false,
    apointments: [
      {
        id: 1,
        doctor_name: "Belayneh Gzaw",
        place: "mekelle",
        description: "diagnosis",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
      {
        id: 2,
        doctor_name: "Alex Mike",
        place: "Axum",
        description: "sergery",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
      {
        id: 3,
        doctor_name: "Gebremeskel Haile",
        place: "Adigrat",
        description: "follow up",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
      {
        id: 4,
        doctor_name: "Tolosa Gebisa",
        place: "Adwa",
        description: "diagnosis",
        date: "3/3/2020",
        time: "4: 00 pm",
      },
    ],
    actions: [
      {
        color: "info",
        icon: "mdi-account",
      },
      {
        color: "success",
        icon: "mdi-pencil",
      },
      {
        color: "error",
        icon: "mdi-close",
      },
    ],
  }),

  methods: {
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          alert("Form Submitted!");
        }
      });
    },
  },
};
</script>
